header{
    background-image : url("../Images/flywheel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px;
}
h1{
    text-align: center;
    color:#f0e3e3;
    text-transform: uppercase;
}
nav a:link{
    display: inline-block;
    width:15%;
    padding: 10px;
    text-align: center;
    color: #000000;
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    margin-right: 2%;
    border-radius: 2%;
}

nav a:hover{
    display: inline-block;
    width:15%;
    padding: 10px;
    text-align: center;
    color: #000000;
    background-color: #daaaaa;
    text-decoration: none;
    margin-right: 2%;
    border-radius: 2%;
}


.active{
    background-color: #f0e3e3 !important;
}

body{
    padding: 5px;
    margin: 1px;
}


h2{
    color: #000000;
    
    
}

.left{
    background-color: #6e8509;
    display:block;
    float: left;
    width: 150x;
    height: 100vh;
    position: relative;
  
}

.left img{
    border: 3px solid black;
    width: 120px;
    display: block;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.right{
    display: block;
}

/*Styling the table on teams page*/
table{
    margin:0 auto;
    width: 55%;
    height: 75%;
    font-size: 16px;
    line-height: 16px;
}

tr{
    background-color:#c2f599;
    opacity: 0.6;
}

th{
    background-color:#1bb154;
    background: -webkit-linear-gradient(right, #21be12, #078051);
    background: -moz-linear-gradient(right, #21be12, #078051);
    background: -o-linear-gradient(right, #21be12, #078051);
    color:#ffffff;
    font-family:sans-serif;
    width:20%;
    height: 40px;
    padding: 5px;
    border-bottom: 4px solid #14d1d8;
    text-align:center;
}
tr td{
    font-family: cursive;
    color: #000000;
    font-size: 15px;
    height: 40px;      
    text-shadow: 2px 2px #eb84e2;
    padding-left: 6px; 
}
tr:first-child{
    border-radius: 5px 5px 0 0;
}
tr th{
    border-radius: 5px 5px 0 0;
    text-align: left;
} 
tr:nth-child(1n) > td:first-child{
    color: #000000;
    text-align: left;
    width: 60%; 
}
tr:nth-child(1n) > td:nth-child(2), tr:nth-child(1n) > td:nth-child(3){
    text-align: center;
    width: 20%;
}

tr:hover td{
    opacity: 1;
    font-size: 130%;
}